.custom-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.react-table {
  font-size: 20px;
  background: aliceblue;
  /* Add any other styles you want for the table */
}
